{% if page.tags.size > 0 %}
  <h3 class="page-taxonomies-title">{{ site.data.text[site.locale].tags | default: 'Tags' }}</h3>
  <ul class="page-taxonomies">
    {%- for tag in page.tags -%}
      <li style="display: inline;">
        {%- if site.tag_page_dir -%}      
          <a class="button button--secondary button--pill button--sm" 
              href="/{{site.tag_page_dir}}/{{ tag | slugify }}" 
              title="{{ site.data.text[site.locale].pages_tagged | default: 'Pages tagged' }} {{ tag }}" 
              rel="tag">
              {{ tag }}
          </a>
        {%- else if site.tag_archive_path -%}
          <a href="{{ tag | slugify | prepend: site.tag_archive_path | relative_url }}"
             class="button button--secondary button--pill button--sm"
             title="{{ site.data.text[site.locale].pages_tagged | default: 'Pages tagged' }} {{ tag }}" rel="tag">
            {{ tag }}
          </a>
        {%- else -%}
          {{ tag }}
        {%- endif -%}
      </li>
    {%- endfor- %}
  </ul>
{% endif %}
