---
layout: default
---

<main id="main" class="main-content" aria-label="Content">
  <article>
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% if page.id %}
          {% assign title = page.title | markdownify | strip_html %}
        {% endif %}
        {% if page.link %}
          <h1 id="page-title" class="page-title"><a href="{{ page.link }}">{{ title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% endif %}
      </header>
      <div class="page-content">
        <form onsubmit="return false;">
            <div class="search-box-icon">
              <span class="fa fa-search"></span>
              <input type="input" id="search" class="search-input" placeholder="{{ site.data.text[site.locale].search_placeholder_text | default: 'Enter your search term...' }}" autofocus>
            </div>
        </form>
        <div id="results"></div>
        {% if page.share %}
          {% include social-share.html %}
        {% endif %}
        {% include tags.html %}
      </div>
    </div>
  </article>
</main>
